@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.formContainer {
    max-width: 540px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.upperContainer {
    height: 204px;
    background: #F8F8F7;
    border-radius: 8px;
    padding: 0 50px;
}
.header {
    font-size: 20px;
    line-height: 27px;
    margin: 30px 0 24px 0;
}
.inputContainer {
    overflow: auto;
    height: 96px;
    border: 1px solid #C3C2CF;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    position: relative;
    margin-bottom: 24px;
}
input {
    -webkit-appearance: none;
    &::placeholder {
        color: #C3C2CF;
        font-size: 14px;
        line-height: 24px;
    }
}
.lowerContainer {
    background-color: #FFFFFF;
    height: 96px;
    padding: 24px 50px;
    flex-direction: row;
}
.clickButton {
    background: #4262FF;
    border-radius: 6px;
    padding: 0 16px;
    height: 40px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 16px;
    outline: none;
    opacity: 0.93;
    transition: 0.4s;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}
.mainInput {
    border: 0;
    outline: none;
    font-size: 14px;
    line-height: 24px;
}
.mainInputContainer {
    position: relative;
}
@-webkit-keyframes appear {
    1% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.inputInvalid {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0;
    margin-bottom: 3px;
    -webkit-animation: appear 0.2s ease-out;
    -moz-animation: appear 0.2s ease-out;
    -o-animation: appear 0.2s ease-out;
    animation: appear 0.2s ease-out;
}
.inputValid {
    display: inline-block;
    background-color: rgba(102, 153, 255, 0.2);
    border-radius: 100px;
    padding: 0 10px;
    margin: 0 5px 0 0;
    position: relative;
    margin-bottom: 3px;
    -webkit-animation: appear 0.2s ease-out;
    -moz-animation: appear 0.2s ease-out;
    -o-animation: appear 0.2s ease-out;
    animation: appear 0.2s ease-out;
}
.fakeInputValid {
    padding: 0 10px 0 0px;
}
.fakeInputInvalid {
    border-bottom: 1px dashed #d14836;
}
.closeValid {
    position: absolute;
    right: 6px;
    top: 14px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    cursor: pointer;
    &::after {
        position: absolute;
        content: '';
        width: 9px;
        height: 1px;
        margin-left: -4px;
        background: black;
    }
    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 9px;
        margin-top: -4px;
        background: black;
    }
}
.closeInvalid {
    position: absolute;
    right: -13px;
    top: 14px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    cursor: pointer;
    &::after {
        position: absolute;
        content: '';
        width: 9px;
        height: 1px;
        margin-left: -4px;
        background: #C3C2CF;
    }
    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 9px;
        margin-top: -4px;
        background: #C3C2CF;
    }
}